/* VARIABLES */

:root {
	--brandblue: #2196f3;
	--brandblue__active: #41aaff;
	--darktext: #212121;
	--lighttext: #757575;
	--bgdark: #2f303a;
	--bglight: #f5f4fa;
	--white: #fff;
	--black: #000;
}

.--blue {
	color: var(--brandblue);
}

.--light {
	color: var(--lighttext);
}

.--dark {
	color: var(--darktext);
}

.--white {
	color: var(--white);
}

.--black {
	color: var(--black);
}

.--bgdark {
	background-color: var(--bgdark);
}

.--bglight {
	background-color: var(--bglight);
}

/* STYLES */

body {
	font-family: "Roboto", sans-serif;
}

address {
	font-style: normal;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
}

.header-link {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
	color: var(--brandblue);
}

.contacts-link {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--lighttext);
}

.banner {
	background-color: var(--bgdark);
}

.h1-main {
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
}

.btn-main {
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.06em;
	color: var(--white);
	width: 200px;
	height: 50px;
	background-color: var(--brandblue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: auto;
}

.h3-pros {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--darktext);
}

.p-pros {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--lighttext);
}

.h2-main {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--darktext);
}

.team-section,
.occupation-section,
.pros-section,
.portfolio-items_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.team-card,
.occupation-item,
.pros-item {
	display: flexbox;
}

.h3-teammember {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--darktext);
}

.p-position {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--lighttext);
}

.filter-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.03em;
	color: var(--darktext);
	padding: 6px 22px;
	height: 38px;
	background: var(--bglight);
	border-radius: 4px;
	border-style: none;
}

.btn-filter:hover,
.btn-filter:focus {
	color: var(--white);
	background-color: var(--brandblue);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.h3-portfolio {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: var(--darktext);
}

.p-portfolio {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: var(--lighttext);
}
